html {
     box-sizing: border-box;
}

*, *::before, *::after {
}

body {
    position: relative;
    margin: 0;
    padding:0;
    overflow: hidden;
}

.logo {

    display: block;
    max-width: 350px;
    margin: -2rem auto 0;
    opacity: 0;
    -webkit-animation: fox 4s linear forwards;
    animation: title 4s linear forwards;
    transition: all .25s;
}


@keyframes title {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity:1;
    }
}

@media only screen and (min-width: 35em) {

    
    .logo {
        max-width: 400px; 
    }

}
    
@media only screen and (min-width: 60em) {
 
    html {
        font-size:110%;
    }
    
    .logo {
        max-width: 500px; 
    }
  
}

@media only screen and (min-width: 90em) {
 
    html {
        font-size: 120%;
    }
    
    .logo {
        max-width: 600px; 
    }
   
}

@media only screen and (min-width: 120em) {
    
    html {
        font-size: 130%;
    }
 
    .logo {
        max-width: 800px; 
    }
}

/*FOX STUFF */

.fox-wrap {
    position: relative;
    height: 500px;
}

.fox {
    position:absolute;
    top: 175px;
    left: calc(50% - 201px);
    width: 402px;  
    height: 420px;
    background-image: url(../images/fox.svg);
    background-repeat: no-repeat;
    background-size: 402px 1260px;
    background-position: center top;
    opacity: 0;
    -webkit-animation: fox 4s linear forwards;
    animation: fox 4s linear forwards;
    transition: all .25s steps(2);
}

.fox:hover{
    background-position: center bottom;
}

@keyframes fox { 
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fox {
     0% {
         -webkit-opacity: 0;
     }
    
    100% {
        -webkit-opacity: 1;
    }
}

/* button */

.button {
    
    display: block;
    height: 150px;
    width: 150px;
    bottom: 0;
}

.btn {
    line-height: 1em;
    width: 6em;
    display:inline-block;
    bottom: 0;
}

.btn-forwards {
    background-color: red;
    color: #fff;   
}

.btn:hover {
    color: black;
    background-color: white;
    transition: all 500ms linear;
}
