html {
     box-sizing: border-box;
}

*, *::before, *::after {
}

body {
    margin: 0;
    padding:0;
    overflow: hidden;
}

.fox {
    position:absolute;
    top: 125px;
    left: calc(50% - 160px);
    width: 402px;  
    height: 420px;
    background-image: url(../images/fox.svg);
    background-repeat: no-repeat;
    background-size: 402px 1260px;
    background-position: center top;
    opacity: 0;
    -webkit-animation: fox 4s linear forwards;
    animation: fox 4s linear forwards;
    transition: all .25s steps(2);
}

.fox:hover{
    background-position: center bottom;
}

@keyframes fox { 
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fox {
     0% {
         -webkit-opacity: 0;
     }
    
    100% {
        -webkit-opacity: 1;
    }
}

main {
    text-align: center;
}

.logo {

    display: block;
    max-width: 400px;
    margin: -2rem auto 0;
    opacity: 0;
    -webkit-animation: fox 4s linear forwards;
    animation: fox 4s linear forwards;
    transition: all .25s;
}


@keyframes title {
    0% {
        color: black;
    }
    
    100% {
        color: red;
    }
}

@media only screen and (min-width: 35em) {

    
    .logo {
        max-width: 400px; 
    }
}
    
@media only screen and (min-width: 60em) {
 
    html {
        font-size:110%;
    }
    
    .logo {
        max-width: 500px; 
    }
}

@media only screen and (min-width: 90em) {
 
    html {
        font-size: 120%;
    }
    
    .logo {
        max-width: 600px; 
    }
}

@media only screen and (min-width: 120em) {
    
    html {
        font-size: 130%;
    }
 
    .logo {
        max-width: 800px; 
    }
}
